/* Variables */
:root{
    --main-text-color: rgb(188, 212, 219);
}

.theme-dark .markup-2BOw-j{
    color: var(--main-text-color);
}

#app-mount{
    background-image: url(https://i.imgur.com/iVcXxbK.jpg) !important;
}