/* Variables */
:root{
    --main-text-color: rgb(188, 212, 219);
}

.theme-dark .markup-2BOw-j{
    color: var(--main-text-color);
}

.container-2lgZY8{
    background-image: url(https://imgur.com/a/LDnaVQm) !important;
}